body {
  display: flex;
  justify-content: center;
  /*align-items: center;/*This continues to center the div when the viewport height is less than the div's height. I instead opted for
    margin: auto 0; on the child div(drum machine) to have the top of he div remain at the top of the viewport.*/
  height: 100vh;
  background-color: rgb(149, 88, 88);
}
#drum-machine {
  display: flex;
  height: 200px;
  width: 600px;
  margin: auto 0;
  padding: 20px;
  background-color: aqua;
  border: 7px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
}
#pad {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  grid-gap: 10px;;
  height: 200px;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(50, 105, 206);
}
.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 30px;
  font-weight: bold;
  user-select: none; /*This prevents the letters on each pad from being highlighted when clicked and dragged.*/
  background-color: rgb(202, 98, 60);
  border-radius: 8px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
  cursor: pointer;
}
.pressed {
  height: 97%;
  margin-top: 2px;
  /*background-color: rgb(250, 250, 200);*/
  box-shadow: none;
}
#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  background-color: rgb(50, 105, 206);
  box-sizing: border-box;
}
#power {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50px;
  width: 100px;
  background-color: aqua;
  border: 1px solid black;
}
#switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  width: 80px;
  background-color: gray;
  box-sizing: border-box;
}
#knob {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 35px;
  margin: 0 5px;
  background-color: blue;
}
#display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  background-color: rgb(202, 98, 60);
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
  border: 1px solid black;
}
#volume {
  height: 50px;
  width: 100px;
  background-color: aqua;
  box-sizing: border-box;
  border: 1px solid black;
}